@import url(header.css);
@import url(main.css);
@import url(footer.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}